
<%- include('partials/header') %>


<main>
 <% if(typeof cart !== "undefined"){%>
<div class="container">
  
    <div class="py-5 text-center">
      <h1>إتمام الشراء</h1>
      </div>
  <form id="checkout-form" action="/cart/create-order" method="post">
    <div class="row g-3">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">سلة التسوق
            <span class="clear-cart"><a href="/cart/clear">افراغ السلة</a></span>
          </span>
          
          <span class="badge bg-secondary rounded-pill"><%=cart.length%></span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">اسم المنتج</h6>
              
            </div>
            <span class="text-muted">تعديل</span>
            <span class="text-muted">السعر/الكمية</span>
            <span class="text-muted">المجموع الفرعي</span>
          </li>

          <%cart.forEach(item =>{%>
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <div>
                <h6 class="my-0"><%=item.name%></h6>
                <img class="previmgs" src="/public/products_imgs/<%=item.thumbImg%>">
              </div>
              <div>
              <a href="/cart/update/<%=item.slug%>?action=add">+</a>&nbsp;
              <a href="/cart/update/<%=item.slug%>?action=remove">-</a>&nbsp;
              <a href="/cart/update/<%=item.slug%>?action=clear">ازالة</a>&nbsp;
            </div>
              <span class="text-muted"><%=item.price%>×<%=item.qty%></span>
              <span class="text-muted"><%=item.subtotal%> ر.س </span>
            </li>
            
          <%})%>
          
         
          
          <li class="list-group-item d-flex justify-content-between">
            <span>مجموع (ريال)</span>
            <strong><%=parseFloat(cartTotal).toFixed(2)%> ر.س </strong>
            <input type="hidden"  id="cartTotal" name="cartTotal" value="<%=cartTotal%>"></input>
          </li>
        </ul>

        
        <hr class="my-4">

        <h4 class="mb-3">طريقة الدفع</h4>
   
        <input type="image" class="paypal-btn paypal-btn-no-padding" src="/public/imgs/paypal-btn-ar.png" alt="submit button">
       

      </div>
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">عنوان الفوترة</h4>
       
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">الاسم الأول</label>
              <input type="text" class="form-control" name="firstName" id="firstName" placeholder="" value="" required="">
              <div class="invalid-feedback">
                يرجى إدخال اسم أول صحيح.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">اسم العائلة</label>
              <input type="text" class="form-control" name="lastName" id="lastName" placeholder="" value="" required="">
              <div class="invalid-feedback">
                يرجى إدخال اسم عائلة صحيح.
              </div>
            </div>

       

            <div class="col-12">
              <label for="email" class="form-label">البريد الإلكتروني</label>
              <input type="email" class="form-control" name="email" id="email" placeholder="you@example.com">
              <div class="invalid-feedback">
                يرجى إدخال عنوان بريد إلكتروني صحيح لتصلكم تحديثات الشحن.
              </div>
            </div>

            <div class="col-12">
              <label for="address" class="form-label">العنوان</label>
              <input type="text" class="form-control" id="address" placeholder="1234 الشارع الأول" required="">
              <div class="invalid-feedback">
                يرجى إدخال عنوان الشحن الخاص بك.
              </div>
            </div>

            

            <div class="col-md-4">
              <label for="state" class="form-label">المدينة</label>
              <select class="form-select" id="state" required="true">
                <option value="">اختر...</option>
                <option>الرياض</option>
                <option>جدة</option>
                <option>الدمام</option>
              </select>
              <div class="invalid-feedback">
                يرجى اختيار اسم مدينة صحيح.
              </div>
            </div>

            <div class="col-md-3">
              <label for="zip" class="form-label">الرمز البريدي</label>
              <input type="text" class="form-control" id="zip" placeholder="" required="">
              <div class="invalid-feedback">
                الرمز البريدي مطلوب.
              </div>
            </div>
          </div>

        

        </form>
            
  
      </div>
    </div>
  

</div>
<%}else{%>
  <div class="py-5 text-center">
  <h1>سلة الشراء فارغة!</h1>
</div>
<%}%>
</main>





<%- include('partials/footer') %>